input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
  opacity: 1 !important;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color:white !important;
  border: 2.5px solid black !important;
}

input[type=number] {
  position: relative;
  padding: 5px;
  width: 50;
  padding-right: 25px;
  height: 25px;
  text-align: center;
  font-family: sans-serif;
  font-size:11px;
  background-color: white !important;
  border: 1px solid #9c9c9c !important;
  border-radius: 0.2em;
}

.numInputWrapper input {
    width: 75px !important;
    text-align: left;
}

thead th {
    background-color:rgb(33, 45, 64) !important;
    border-color: rgb(33, 45, 64) !important;
    font-size: 13px;
}

tr {
    font-size: 12px;
}


.btn-sm {
    width:100px;
    height:25px;
    font-weight:bold;
    font-size:11px;
    border: none;
    background-color: rgb(230, 87, 133)
}

.btn-sm:disabled {
    opacity:0.5;
    background-color: rgb(230, 87, 133)
}

.btn-sm:hover {
    opacity:0.5;
    background-color: rgb(230, 87, 133)
}



.bg-primary {
    background-color: white !important;
    font-family: sans-serif;
    font-size:11px;
    font-weight: bold;
    color: black
}

#console {
    width: 95%;
    height: 300px;
    position: relative;
    float: right;
    margin-right: 10px;
    display: none
}

.progress {
    height: 10px;
    width:50%;
    
}

.progress-bar {
    background-color: rgb(230, 87, 133)
}

.gw-name {
    background-color: rgb(33, 45, 64) !important;
    font-size: 18px;
    text-decoration: underline;
}

#chart {
    width: 85%;
}

#gw_name_head>tr>th {
    background: #5a6268 !important;
    border: none;
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
/* TOASTR BUGFIX */